/* entire Document */
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

.fadeinInit {
  opacity: 0;
}

.fadeinFin {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.fadeOutInit {
  opacity: 1;
}

.fadeOutFin {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

body {
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#login-form {
  position: absolute;
  top: 40%;
}

/* clock and Greeting */
.clockGreetingGroup {
  color: white;
  text-shadow: rgb(119, 119, 119) 1px 0 5px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

h1#clock {
  font-size: 200px;
}

h1#greeting {
  font-size: 80px;
}

/* input */
input {
  margin: 10px 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  background-color: unset;
  width: 600px;
  height: 50px;
  font-size: 40px;
  color: white;
}

::placeholder {
  color: white;
  text-shadow: rgb(119, 119, 119) 1px 0 3px;
}

/* toDo List */
@keyframes floatIcon {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
}

li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  color: rgb(255, 255, 255);
  text-shadow: rgb(119, 119, 119) 1px 0 5px;
  font-size: 40px;
  margin-bottom: 7%;
}
li i {
  position: absolute;
  right: -10px;
}

i:hover {
  animation: floatIcon 1s ease-in-out infinite;
}

div#quote,
div#weather {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 20px;
  text-shadow: rgb(119, 119, 119) 1px 0 5px;
}

/* quote and weather */

div#quote {
  bottom: 10%;
}
div#weather {
  font-size: 25px;
  top: 3%;
  right: 3%;
  text-shadow: rgb(119, 119, 119) 1px 0 5px;
}
